.gidess {
  width: 400px;
}

.index-containers {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  background-color: #49c3b9;
}
.modal{
  position: fixed !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;

}
.main-container-modal{
  display: flex !important;
  /* display: none !important; */
  justify-content: center !important;
  align-items: center !important;
}
@media only screen and (max-width:695px) {
  .index-containers {
    height: 100%;
  }
}

.heading {
  font-size: xx-large;
  font-weight: bolder;
}

.btn-try {
  background-color: #8789cf;
  color: #fff;
  width: 95px;
  padding: 4px 19px !important;
  border: none;
  border-radius: 7px;
}

.btn-try:active {
  opacity: 0.5;
}

@media only screen and (max-width: 770px) {
  .btn-try {
    margin-bottom: 20px;
  }
}


.login-main-contaner {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #49c3b9;
  margin: 0;
  padding: 0;
  position: fixed;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  overflow-x: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}










.container {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: 340px !important;
}

h1 {
  text-align: center;
  color: #8789cf;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #8789cf;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #49c3b9;
}

.switch {
  text-align: center;
  margin-top: 10px;
}

.switch a {
  color: #8789cf;
  text-decoration: none;
}



.sign-up-container {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #49c3b9;
  margin: 0;
  padding: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}




.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {

  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: 340px;
  margin: 10px;
}

h1 {
  text-align: center;
  color: #8789cf;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #8789cf;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #49c3b9;
}

.switch {
  text-align: center;
  margin-top: 10px;
}

.switch a {
  color: #8789cf;
  text-decoration: none;
}










.spinner {
  position: fixed;
  display: none;
  width: 3em;
  height: 3em;
  cursor: not-allowed;
  border-radius: 50%;
  border: 2px solid #444;
  box-shadow: -10px -10px 10px #6359f8, 0px -10px 10px 0px #9c32e2, 10px -10px 10px #f36896, 10px 0 10px #ff0b0b, 10px 10px 10px 0px#ff5500, 0 10px 10px 0px #ff9500, -10px 10px 10px 0px #ffb700;
  animation: rot55 0.7s linear infinite;
}

.spinnerin {
  border: 2px solid #444;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rot55 {
  to {
    transform: rotate(360deg);
  }
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #49c3b9 !important;
}

.container-todo {
  /* background-color: #49c3b9; */
  width: 100%;
  margin: 0 auto;
 
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  filter: blur(4px);
  /* pointer-events: none; */
}
.label {
  width: 20px;
  word-wrap: break-word;
}
h1 {
  text-align: center;
  color: white;
}

.todo-list {
  list-style: none;
  padding: 0;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.todo-list li {
  display: flex;
  align-items: center;
  /* margin: 10px 0; */
  /* padding: 5px; */
  width: 575px;
  background-color: white;
  border-radius: 5px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

label {
  flex: 1;
  cursor: pointer;
}

input[type="checkbox"]:checked+label {
  text-decoration: line-through;
  color: #8789cf;
}

@media screen and (max-width: 625px) {
  .todo-list li {
    width: 100% !important;
  }

  .custom-input {
    width: 87% !important;
  }
  .main-todo-item{
    width: 87%;
  }
}

@media screen and (min-width: 624px) {
  .custom-input {
    width: 580px !important;
  }
}


.custom-input {
  padding: 10px;
  border: none;
  /* border-radius: 5px; */
  background-image: linear-gradient(to right, #49c3b9, #8789cf);
  color: white;
}
.todo-item{
  display: flex;
  justify-content: center;
  align-items: center;
}
.bi-trash3,
.bi-pen {
  display: none;
  margin-left: 10px;
  cursor: pointer;
align-items: unset;
/* bottom: 0; */
/* position: fixed; */
}

.todo-list li:hover {
  /* width: 600px; */

  .bi-pen,
  .bi-trash3 {
    display: block;
    transition: 4s;
    /* transition-delay: 2s; */
  }
  /* .todo-list li{ */
  /* } */
}
.modal-content{
  min-width: 430px !important;
}
.loder-todo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-todo-item{
  background-color: #fff;
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px;
}
.date-time{
  font-size: small;
}
.time-container{
  display: flex;
  justify-content: space-between;
}


.congragulation{
 /* background-image: url('https://i.pinimg.com/originals/12/4d/e3/124de3d1b5e12f1d8fcec1685e634361.gif'); */
  height: 100%;
  width: 100%;
  position: fixed;
  display: none;
}
.btn-sign-out{
  
  margin: 7px 9px 0px 0px;
  padding: 4px;
  border: 2px solid #000;
  cursor: pointer;
  border-radius: 5px;
}
.btn-container{
  display: flex;
  justify-content: flex-end;
  
}
.btn-sign-out:hover{
  background-color: #ff0b0b;
  color: #fff;
}
.btn-sign-out:active{
  opacity: 0.5;
}